<div class="container-fluid py-5 fondo-2">
    <!-- Titulo -->
    <div class="row">
        <div class="col-12 py-3">
            <img src="../../assets/Titulo Home 2.png" class="img-fluid mx-auto d-block" alt="Portfolio">
        </div>
    </div>
    <!-- Ventanas windows -->
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-xl-9 d-block d-sm-flex">

            <div class="col-sm-4 col-12 pt-lg-0 pt-3 pt-sm-0 p-lg-5 p-sm-3">
            <div class="card borde shadow-sm">
                <h5 class="card-title card-fondo text-end pe-3 py-2">
                    <a href="#" class="card-link"><img src="../../assets/icons/square-icon.svg" width="17px"></a>
                    <a href="#" class="card-link"><img src="../../assets/icons/x-icon.svg" class="me-2" width="17px"></a>
                </h5>
                <div class="card-body">
                    <img src="../../assets/Home square 1.png" class="img-fluid p-2">
                </div>
            </div>
            </div>

            <div class="col-sm-4 col-12 d-sm-block d-none pt-3 pt-lg-0 pt-sm-0 p-lg-5 p-sm-3">
            <div class="card borde shadow-sm">
                <h5 class="card-title card-fondo text-end pe-3 py-2">
                    <a href="#" class="card-link"><img src="../../assets/icons/square-icon.svg" width="17px"></a>
                    <a href="#" class="card-link"><img src="../../assets/icons/x-icon.svg" class="me-2" width="17px"></a>
                </h5>
                <div class="card-body">
                    <img src="../../assets/Home square 1.png" class="img-fluid p-2">
                </div>
            </div>
            </div>

            <div class="col-sm-4 col-12 d-sm-block d-none pt-3 pt-lg-0 pt-sm-0 p-lg-5 p-sm-3">
            <div class="card borde shadow-sm">
                <h5 class="card-title card-fondo text-end pe-3 py-2">
                    <a href="#" class="card-link"><img src="../../assets/icons/square-icon.svg" width="17px"></a>
                    <a href="#" class="card-link"><img src="../../assets/icons/x-icon.svg" class="me-2" width="17px"></a>
                </h5>
                <div class="card-body">
                    <img src="../../assets/Home square 1.png" class="img-fluid p-2">
                </div>
            </div>
            </div>

        </div>
    </div>
    <div class="d-grid gap-2 col-6 col-sm-2 mx-auto pt-lg-2 pt-3">
        <button class="btn btn-primary" type="button">Ver Proyectos</button>
      </div>
</div>