<ngb-carousel class="pt-5 p-lg-0 d-none d-md-flex pb-5">
  <ng-template ngbSlide>
      <img src="./assets/carrousel/carrousel 1.png" class="d-block w-100">
    <div class="carousel-caption d-md-block">
      <h4 class="titulocc">Creative Chromatic</h4>
      <h1 class="agencia"><span class="color-agencia">AGENCIA</span> DIGITAL <span class="color-barra">/</span></h1>
          <p class="ptitulo">Especialistas en Branding y web developer. <br> Llevamos tus ideas al espacio.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <img src="./assets/carrousel/carousel 2.png" class="d-block w-100">
    <div class="carousel-caption d-md-block espacio">
      <h1 class="agencia2"><span class="color-agencia">IDEAS</span> HASTA EL <span class="color-barra">INFINITO</span></h1>
      <p class="ptitulo2">y más allá</p>
    </div>
  </ng-template>
</ngb-carousel>

<app-ventanas></app-ventanas>