<!-- Home Banner -->
<div class="container-fluid">
    <div class="row mb-5 texto-animado">
        <div class="col-xl-6 col-md-6 col-sm-12 text-center d-flex flex-column justify-content-center mt-xl-0 mt-4 order-last order-md-first">
            
            <img src="./assets/Text home 1.png" class="text-home img-responsive">
                <p class="text-start text-light text-p fs-4 pt-3">Somos la agencia que impulsará tu marca.</p>
        </div>

        <div class="col-xl-6 col-md-6 text-center mt-xl-0 mt-2 order-first order-lg-last">
            <img src="./assets/Home square 1.png" class="cuadrado-home img-responsive my-4">
        </div>
    </div>
</div>
<!-- Home Banner -->