<!-- Home Banner -->
<div class="container-fluid">

    <div class="row justify-content-center texto-animado">

        <div class="col-xl-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center mt-xl-0 mt-5 order-last order-md-first">
            <img src="./assets/Text home 1.png" class="img-fluid w-75 d-none d-md-block">
            <p class="text-start text-light fs-4 pt-3 d-none d-md-block">Somos la agencia que impulsará tu marca.</p>

            <img src="./assets/Text home 1.png" class="img-fluid w-75 mx-auto d-md-none d-block">
            <p class="text-center text-light fs-4 pt-3 d-md-none d-block">Somos la agencia que impulsará tu marca.</p>
        </div>

        <div class="col-xl-6 col-md-6 col-sm-12 mt-xl-0 mt-5 order-first order-lg-last planet">
        </div>

    </div>
</div>
<!-- Home Banner -->