/* .divisor{
  width: 100vw !important;
  height: 100vh !important;
}
@media screen and (max-width: 1750px){
  .divisor{
    width: 100% !important;
    height: 100% !important;
}
} */
/* Primer carrousel*/
.carousel-caption{
    right: 0% !important;
    bottom: 0% !important;
    left: 0% !important;
    margin-top: 22% !important;
    margin-bottom: 20% !important;
    margin-left: 15%;
    color: #242424 !important;
    text-align: left !important;
}

.titulocc{
    color: #b2b3b4;
    font-size: calc(0.5rem + 1.31vw);
    margin-bottom: 0%;
}

.agencia{
    font-size: calc(0.5rem + 3.5vw);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* fallback for IE */
.color-agencia {
    color: red;
  }
  /* gradient text for modern browsers */
  @supports (background-clip: text) {
    .color-agencia {
      background-image: linear-gradient(60deg, #c00f36, #680d25);
      background-clip: text;
      color: transparent;
    }
  }

/* fallback for IE */
  .color-barra {
    color: blue;
  }
  /* gradient text for modern browsers */
  @supports (background-clip: text) {
    .color-barra {
      background-image: linear-gradient(60deg, #2a8ac4, #1b387f);
      background-clip: text;
      color: transparent;
      font-weight: 600;
    }
  }
  
.ptitulo{
  font-size: calc(0.5rem + 0.9vw);
  margin-top: -1%;
  line-height: 135%;
}
.flecha{
  color: #757575 !important;
  font-size: 40px;
}

/*Segun Carrousel*/
.espacio{
  margin-left: 0% !important;
}
.agencia2{
  font-size: calc(0.6rem + 3.5vw);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffff;
}

.ptitulo2{
font-size: calc(0.6rem + 0.9vw);
margin-top: -1%;
line-height: 135%;
text-align: center;
color: #ffff;
}

.fondo2{
  background: url(../../assets/Fondo-home.png) no-repeat;
  width: 100%;
  height: auto;
}