.text-home{
    width: 60%;
    text-align: center !important;
    margin-left: 26%;
}
@media only screen and (max-width: 1199px) {
    .text-home{
        width: 90%;
        margin-left: 15%;
        text-align: center !important;;
    }
}
@media only screen and (max-width: 767px) {
    .text-home{
        width: 50%;
        margin-left: 25%;
        text-align: center !important;;
    }
}
@media only screen and (max-width: 650px) {
    .text-home{
        width: 60%;
        margin-left: 20%;
        text-align: center !important;;
    }
}

.cuadrado-home{
    width: 50%;
}
@media only screen and (max-width: 1199px) {
    .cuadrado-home{
        width: 70%;
    }
}
@media only screen and (max-width: 767px) {
    .cuadrado-home{
        width: 40%;
    }
}
@media only screen and (max-width: 650px) {
    .cuadrado-home{
        width: 60%;
    }
}

.text-p{
    margin-left: 25%;
}
@media only screen and (max-width: 1199px) {
    .text-p{
        margin-left: 15%;
        margin-right: 13%;
    }
}
@media only screen and (max-width: 767px) {
    .text-p{
        margin-left: 21%;
    }
}
@media only screen and (max-width: 500px) {
    .text-p{
        text-align: center !important;
        margin-left: 15%;
        margin-right: 13%;
    }
}

.texto-animado{
    animation: floating 5s ease-in-out infinite !important;
}
@keyframes floating {
    0%, 100%{
        transform: translate(0,-20px);
    }
    50%{
        transform: translate(0,20px);
    }
}
.margin-negative{
     margin-top: 0% !important;
     padding-top: 9%;
}

@media only screen and (max-width: 1199px){
    .margin-negative{
        padding-top: 20%;
    }
}
@media only screen and (max-width: 600px){
    .margin-negative{
        padding-top: 25%;
    }
}