/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* ESTILOS GENERALES */
body{
    background-color: #f4f5f8 !important;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

:root {
    --size: 40px;
    --frames: 62;
  }

/* Importando Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
